.Hero {
  h2 {
    color: #444;
  }

  span {
    color: #666;
  }

  footer:first-of-type {
    color: #555;
  }

  a {
    color: #777;
    border: 1px solid #eee;
    transition: all 0.3s ease;
  }

  a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }
}
