---
import Section from "../Section.astro";

type TranslationFunction = (key: string, params?: Record<string, string>) => string;
interface Props {
  summary: string;
  t: TranslationFunction;
}

const { summary, t } = Astro.props;
---

<Section title={t("nav.about")}>
  <p>{summary}</p>
</Section>
