---
import { useTranslations, getLangFromUrl } from "../../../src/utils/i18n";
import Section from "../Section.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { summary } = Astro.props
---

<Section title={t('nav.about')}>
  <p>{summary}</p>
</section>
