---
import { skills } from "../../../cv.json";
import Section from "../Section.astro";
import "../../styles/skills.css";
---

<Section title="Skills">
  <div class="skills">
    <ul>
      {
        skills.map(({ name }) => {
          return (
            <li>
              <span>{name}</span>
            </li>
          );
        })
      }
    </ul>
  </div>
</Section>
