---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Sections/Hero.astro";
import About from "../components/Sections/About.astro";
import Education from "../components/Sections/Education.astro";
import Experience from "../components/Sections/Experience.astro";
import Projects from "../components/Sections/Projects.astro";
import Skills from "../components/Sections/Skills.astro";
import "../styles/main.css";

import { basics } from "../../cv.json";
const { name, label } = basics;
---

<Layout title={`Portfolio of ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Skills />
    <Projects />
  </main>
</Layout>
