---
import LanguageSwitcher from '../components/LanguageSwitcher.astro';
import "../styles/global.css";
import "../styles/layout.css";

const { lang, t } = Astro.locals;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={t('site.description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{t('site.title')}</title>
  </head>
  <body>
    <LanguageSwitcher />
    <slot />
  </body>
</html>
